{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
<form action = "/calculate" method = "post">
    <div class="row gy-5" style="padding-top:20px; padding-bottom:20px">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter something to calculate" aria-label="Calculate" aria-describedby="button-addon2" name ="query">
            <button class="btn btn-outline-secondary" type="button" id="calculatebutton">=</button>
        </div>
    </div>
</form>
<div class="container-md">
    <p>
        Input: {{ input }}
        <hr>
        Answer: <br>
        {{ answer }}
    </p>
</div>
{% endblock %}