{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
<div class="container-md" style="padding-top: 20px;">

<div class="card-header-custom">Calculus</div>
<div class="card-group">
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/limit.png" alt="Expression">
        <div class="card-body">
          <p class="card-text">Math Lab supports finding limits of functions.</p>
          <a href="/limit" class="card-link">Calculate limits</a>
        </div>
    </div>
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/derivative.png" alt="Expression">
        <div class="card-body">
          <p class="card-text">Math Lab supports finding derivatives of functions.</p>
          <a href="/derivative" class="card-link">Calculate derivatives</a>
        </div>
    </div>
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/integral.png" alt="Graph">
        <div class="card-body">
          <p class="card-text">Math Lab supports Definite & Indefinite integrals.</p>
          <a href="/integral" class="card-link">Calculate integrals</a>
        </div>
    </div>
</div>
</div>

<hr>
{% endblock %}