{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
<div class="container-md" style="padding-top: 20px;">

<div class="card-header-custom">Integrals</div>
<div class="card-group">
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/mathlabassets/defintegral.gif" alt="Definite integral"style="padding-top: 5px;">
        <div class="card-body">
          <a href="/integral-def" class="card-link">Definite Integrals</a>
        </div>
    </div>
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/mathlabassets/indefintegral.gif" alt="Indefinite integral" style="padding-bottom: 5px; padding-top: 5px;">
        <div class="card-body">
          <a href="/integral-indef" class="card-link">Indefinite Integrals</a>
        </div>
    </div>
    <div class="card border-dark mb-3" style="width: 18rem">
        <img class="card-img-top" src="static/mathlabassets/improperintegral.gif" alt="Improper integral" style="padding-bottom: 25px; padding-top: 5px;">
        <div class="card-body">
          <a href="/integral-improper" class="card-link">Improper Integrals</a>
        </div>
    </div>
</div>
</div>

<hr>
{% endblock %}