
{% extends "layout.html" %}

{% block title %}
    for Calculus
{% endblock %}

{% block main %}
<form action = "/limit" method = "post">
    <div class="row gy-5" style="padding-top:20px; padding-bottom:20px">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">lim x -></span>
            <input type="text" class="form-control" placeholder="Value the limit approaches" aria-label="C" aria-describedby="button-addon2" name ="limitapproaches">
            <input type="text" class="form-control" placeholder="Function" aria-label="Function" aria-describedby="button-addon2" name ="function">
            <select class="form-select" name="side">
                <option value="">two-sided limit</option>
                <option value="-">from the left</option>
                <option value="+">from the right</option>
            </select>
            <button class="btn btn-outline-secondary" type="submit" id="calculatebutton">=</button>
        </div>
    </div>
</form>
{% if post %}
<p>
    Input: {{ inp }}
    <hr>
    Answer: <br>
    <img src= {{ answer.image }} alt={{ answer.plaintext }}>
</p>
{% endif %}
{% endblock %}